@media screen and (min-width: 1010px) {
  /* Cards styles */
  .cards-container {
    max-width: 920px;
  }
  .card {
    border-radius: 15px 0px 0px 15px;
  }
  .card:last-of-type {
    border-radius: 0px 15px 15px 0px;
  }
  /* Attribution styles */
  .attribution {
    position: absolute;
    bottom: 20px;
    right: 40%;
  }
}
